 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/shirts.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 30px 157px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 57px;
    margin-right: 57px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 816px;
}

.u-section-2 .u-slider-1 {
  min-height: 732px;
  width: 1027px;
  height: auto;
  margin: 84px auto 0;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-2 .u-image-1 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/man.jpg");
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 43px;
}

.u-section-2 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 211px 242px 0 293px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 20px 312px 0 333px;
}

.u-section-2 .u-image-2 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/tshirts.jpg");
}

.u-section-2 .u-container-layout-2 {
  padding: 11px 33px;
}

.u-section-2 .u-text-3 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 240px 34px 0 114px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 20px 313px 0 353px;
}

.u-section-2 .u-carousel-item-3 {
  margin-left: 316px;
  margin-right: 295px;
  margin-top: 20px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 50px 30px 0;
}

.u-section-2 .u-image-3 {
  width: 708px;
  height: 453px;
  margin: 116px auto 0 0;
}

.u-section-2 .u-text-5 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: -282px auto 0 -210px;
}

.u-section-2 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: -58px;
  position: absolute;
  right: auto;
}

.u-section-2 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: auto;
  position: absolute;
  right: -58px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 457px;
    width: 940px;
  }

  .u-section-2 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-text-1 {
    margin-top: -330px;
    margin-right: 142px;
    margin-left: 193px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 212px;
    margin-left: 233px;
  }

  .u-section-2 .u-image-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-text-3 {
    margin-top: -319px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 213px;
    margin-left: 253px;
  }

  .u-section-2 .u-carousel-item-3 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-image-3 {
    width: 279px;
    height: 178px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -267px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 315px;
    width: 720px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 45px;
    margin-left: 96px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 115px;
    margin-left: 136px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 106px;
    margin-left: 146px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 30px;
  }

  .u-section-2 .u-image-3 {
    width: 79px;
    height: 50px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -139px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 297px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 214px;
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -280px;
    margin-right: 0;
    margin-left: 1px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 45px;
    margin-left: 66px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -269px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 36px;
    margin-left: 76px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    width: -81px;
    height: -51px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -719px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 163px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 80px;
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -127px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
    margin-top: -116px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    margin-top: 73px;
    width: -281px;
    height: -177px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.875rem;
    margin-top: -673px;
  }
}